.LoginForm {
    width: 55%;
    height: 81%;
    background-color: #fbfbfb !important;
    border-radius: 45px;
}

.LoginForm h3 {
    text-align: center;
    margin-top: 5%;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
}

.LoginForm h6 {
    text-align: center;
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.LoginForm .passwordcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.LoginForm .passwordcontainer a {
    color: #0C2A92 !important;
    font-size: 10px;
    font-style: oblique;
    font-weight: 700;
    cursor: pointer;
}

.LoginForm form {
    margin-top: 9%;
}

.LoginForm div {
    width: 94%;
    margin-bottom: 5%;
}

.LoginLabels {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.LoginForm .Checkbox {
    margin-left: 2%;
}

.LoginForm small {
    font-weight: 500;
}

.Logininput {
    width: 100%;
    height: 4%;
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    padding: 4px 6px 4px 6px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
}

.LoginForm .button {
    width: 100%;
    background: #3A5B22;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 700;
    border-radius: 10PX;
    padding: 6px 0px;
    border: 1px solid #3A5B22;
}

.LoginForm .divhrline {
    margin-top: 1%;
    position: relative !important;
}

.LoginForm .divhrline hr {
    color: #00000092;
    border-top: 1.5px solid #000000a1;
}

.LoginForm .hrlinetext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fbfbfb;
    border: 10px solid #fbfbfb;
    border-bottom: 0;
    border-top: 0;
    z-index: 99;
}

.LoginForm .buttonauth {
    width: 45%;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    background: none;
    padding: 5px 0px;
}

.buttonauth .buttonauthsmall {
    font-size: 8px;
    font-weight: 600;
    padding-left: 8px;
}

.lastchild small {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.lastchild a {
    text-decoration: none;
    cursor: pointer;
    color: #0F3DDE !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    .LoginForm {
        width: 100% !important;
        height: 100%;
    }

    .LoginForm h3 {
        font-size: 24px;
    }

    .LoginForm h6 {
        font-size: 10px;
    }

    .buttonauth .buttonauthsmall {
        padding-left: 0px;
    }
}